.course-detail-head .bot .intro .left.vip{
	font-size: 1.2em;
	width:5.2em;
	height:1.4em;
	line-height: 1.4em;
	text-align: center;
	color:#fff;
	background: url(../../images/main/icon/exp-class-yellow-bg.png) no-repeat center center;
	-webkit-background-size: cover;
	text-indent: -0.3em;
}
.course-detail-head .bot .intro .right.vip{
	font-size: 1.25em;
	height:1.4em;
	line-height: 1.4em;
}
.course-detail-head .bot .intro .left.free{
	color:#12C38C;
}
/*=====================*/
.exp-class-detail-body{
	padding: 4% 4%;
	background-color: #fff;
}
.exp-class-detail-body .block{
	margin-bottom:1.4em;
}
.exp-class-detail-body .block p:nth-child(1){
	font-size: 1.25em;
	margin-bottom:0.4em;
}
.exp-class-detail-body .block p:nth-child(2){
	font-size: 1.25em;
	line-height: 1.5em;
	color:#666;
}
/*========================*/
.pop-pause.pop-flish{
	z-index: 1000;
}
.pop-pause{
	padding-top:2em;
}
/*===经验学堂-章节================*/
.player-box{
	padding-left:4%;
	background-color: #fff;
}
.player-box li{
	padding-right:4%;
	border-bottom:1px solid #eee;
	padding-top:0.8em;
	padding-bottom:0.8em;
}
.player-box li:active{
	background-color: #f5f5f5;
	margin-left:-4%;
	padding-left:4%;
}
.player-box li .t-h1{
	width:2em;
	height:2em;
	background: url(../../images/main/icon/jyxt-player.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
.player-box li .t-h2{
	font-size: 1.25em;
	width:68%;
	margin-left:2%;
}
.player-box li .t-h3{
	color:#999;
}
.player-box li.act{
	color:#12C38C;
}
.player-box li.act .t-h1{
	background: url(../../images/main/icon/jyxt-player-act.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
.player-box li.act .t-h3{
	color:#12C38C;
}
/*======播放器============*/
.video-out{
	width:100%;
	display: none;
}
.video-out video{
	width:100%;
}
