.course-ty-3 .ty-2.ty-2-ty3-1{
	background-color: #FFFFFF;
}
.course-ty-3 .ty-2.ty-2-ty3-1 .cont li .t-h3{
	width:80%;
}
.course-ty-3 .ty-2.ty-2-ty3-1 .cont li:nth-of-type(1) .t-h3{
	width:60%;
}
/*==============*/
.course-ty-3 .ty-2.ty-2-ty3-2{
	background-color: #fff;
}
.course-ty-3 .ty-2.ty-2-ty3-2 .cont li{
	margin-bottom:3em;
}
.course-ty-3 .ty-2.ty-2-ty3-2 .cont li:last-child{
	margin-bottom:0;
}
.course-ty-3 .ty-2.ty-2-ty3-2 .cont li .t-h1{
	margin-bottom:2em;
}
.course-ty-3 .ty-2.ty-2-ty3-2 .cont li .t-h3{
	text-align: center;
}
.course-ty-3 .ty-2.ty-2-ty3-2 .cont .t-h1 img{
	-webkit-border-radius: 0;
	width:60%;
}
/*=================*/
.course-ty-3 .ty-4 .bz-1{
	background-color: #470c71;
	padding-top:3em;
	padding-bottom:0;
}
/*=================*/
.course-ty-3 .ty-8{
	background: url(../../images/taoye/taoye-zk/course-ty-zk-meeting-bg.jpg) no-repeat center 0;
	-webkit-background-size: cover;
}
