.course-ty-5 .ty-13 .cont-1{
	background-image: url(../../images/taoye/taoye-zk-fx/course-ty-zk-fx-zhongdian-bg.jpg);
}
.course-ty-5 .ty-4 .bz-1{
	background-color: #b99860;
}
.course-ty-5 .ty-8{
	background: url(../../images/taoye/taoye-zk-fx/course-ty-zk-fx-nvli-bg.jpg) no-repeat center 0;
	-webkit-background-size: cover;
}
