@-webkit-keyframes ani-1-left{
	from{
		-webkit-transform: rotate(4deg) translate(25px);			
	}
	to{
		-webkit-transform: rotate(0deg) translate(0px);	
	}
}
@-webkit-keyframes ani-1-right{
	from{
		-webkit-transform: rotate(-4deg) translate(-25px);			
	}
	to{
		-webkit-transform: rotate(0deg) translate(0px);	
	}
}
/*================*/
@-webkit-keyframes ani-2-left{
	from{
		-webkit-transform: translate(20px,20px);			
	}
	to{
		-webkit-transform: translate(0px,0px);
	}
}
@-webkit-keyframes ani-2-right{
	from{
		-webkit-transform: translate(-20px,-20px);			
	}
	to{
		-webkit-transform: translate(0px,0px);
	}
}
/*========================*/
@-webkit-keyframes ani-3-right{
	from{
		-webkit-transform: scale(0.5) translate(-40px);	
	}
	to{
		-webkit-transform: scale(1) translate(0);
	}
}
/*====================*/
@-webkit-keyframes ani-4-left{
	from{
		-webkit-transform: scale(0);	
	}
	to{
		-webkit-transform: scale(1);
	}
}