body{
	background-color: #f0f0f0;
}
.course-list-box .item .right p:nth-child(1){
	height:2.6em;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.course-list-box .item .right p:nth-child(2){
	margin-bottom:0;
}
.course-list-box .item .right p.start{
	background-color: #febf14;
	color:#fff;
	border-color:#febf14;
}
