.black-bg{
	position: fixed;
	background-color: rgba(0,0,0,0.4);
	width:100%;
	height:100%;
	z-index: 999;
	top:0;
	left:0;
	display: none;
}
.pop-pause{
	position: fixed;
	left:0;
	right:0;
	margin:0 auto;
	top:50%;
	background-color: #fff;
	width:80%;
	-webkit-box-sizing: border-box;
	padding:5% 5% 0;
	text-align: center;
	-webkit-border-radius: 6px;
	z-index: 1000;
	display: none;
}
.pop-pause .t-h1{
	position: absolute;
	left:0;
	right:0;
	margin:0 auto;
	width:38%;
	top:-26%;
}
.pop-pause .t-h1 img{
	width:100%;
}
.pop-pause .t-h2{
	font-size: 1.5em;
	margin-bottom:0.6em;
}
.pop-pause .t-h3{
	font-size: 1.25em;
	color:#999;
	line-height: 1.6em;
	padding: 0 4%;
	margin-bottom:0.5em;
}
.pop-pause .t-h4{
	padding:0.5em 0;
	border-top:1px solid #ddd;
}
.pop-pause .t-h4 li{
	width:49.5%;
	font-size: 1.4em;
	height:1.9em;
	line-height: 1.9em;
}
.pop-pause .t-h4 li.no-do{
	color:#999;
}
.pop-pause .t-h4 li.no-do:active{
	background-color: #ddd;
}
.pop-pause .t-h4 li.yes-do{
	color:#12C38C;
}
.pop-pause .t-h4 li.yes-do:active{
	background-color: #ddd;
}
.pop-pause .t-h4 i{
	display: block;
	width:1px;
	background-color: #ddd;
	font-size: 1.4em;
	height:1.9em;
}
.pop-pause .t-h5{
	font-size: 1.25em;
	color:#999;
	margin-bottom: 1.4em;
}
.pop-pause .t-h5 i{
	color:#FE763A;
}
.pop-pause .t-h4 li.no-do{
	width:100%;
	color:#12C38C;
}
.pop-pause .t-h3{
	color:#666;
}
