.t-bar-work-ul li.t-h-1 .right{
	width:50%;
}
.pass-box .tit li.t-h1{
	width:16%;
}
.pass-box .tit li.t-h2{
	width:18%;
}
.pass-box .tit li.t-h3{
	width:16%;
}
.pass-box .tit li.t-h4{
	width:14%;
}
.pass-box .tit li.t-h5{
	width:14%;
}
.pass-box .tit li.t-h6{
	width:22%;
}
