.pass-box .tit li.t-h1{
	width:24%;
}
.pass-box .tit li.t-h2{
	width:24%;
}
.pass-box .tit li.t-h3{
	width:20%;
}
.pass-box .tit li.t-h4{
	width:32%;
}
.txt-head{
	background: url(../../images/teacher/bg/t-x-teacher-bg-1.jpg) no-repeat center center;
	-webkit-background-size: 100% 100%;
	text-align: center;
	color:#fff;
	padding-top:1.5em;
	padding-bottom:1.3em;
}
.txt-head .t-h1{
	width:5.8em;
	height:5.8em;
	-webkit-border-radius: 5.8em;
	border:2px solid #fff;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 0.5em;
}
.txt-head .t-h1 img{
	-webkit-border-radius: 5.8em;
	width:100%;
	height:100%;
	border:none;
}
.txt-head .t-h2{
	font-size: 1.28em;
	margin-bottom: 0.5em;
}
.txt-head .t-h3{
	font-size: 1.25em;
	margin-bottom: 0.2em;
}
.txt-head .t-h4{
	font-size: 1.25em;
}