.mbsc-ios7 .dwbc{
	border-color:#ccc;
}
.dwb.dwb1.dwb-e{
	color:#666;
	font-size: 0.36rem;
	font-weight: normal;
	height:0.9rem;
	line-height: 0.9rem;
	padding:0 0.3rem;
}
.dwb.dwb0.dwb-e{
	color:#12C38C;
	font-size: 0.36rem;
	font-weight: normal;
	height:0.9rem;
	line-height: 0.9rem;
	padding:0 0.3rem;
}
/*.dwfl{
	width:21%;
}*/
/*.dw-li.dw-v{
	padding:0;
}*/
/*.dw-i{
	
}*/
.dwc{
	80%;
}
.mbsc-ios7.dwwol{
	padding:0;
	margin:0;
}
.dw-i{
	text-align: center;
}
