.dwwr{
	font-family: "微软雅黑";
}
.mbsc-ios7 .dwbc{
	border:none;
	background-color: #f0f0f0;
}
.dwb.dwb1.dwb-e{
	color:#666;
	font-size: 1.6em;
	font-weight: normal;
	height:2.8em;
	line-height: 2.8em;
	padding:0 1.1em;
}
.dwb.dwb1.dwb-e:active{
	background-color: #eee;
}
.dwb.dwb0.dwb-e{
	color:#12C38C;
	font-size: 1.6em;
	font-weight: normal;
	height:2.8em;
	line-height: 2.8em;
	padding:0 1.1em;
}
.dwb.dwb0.dwb-e:active{
	background-color: #eee;
}
.mbsc-ios7 .dwb{
	display: block;
}
.dwc{
	width:80%;
	margin:0 auto;
}
.dwwc{
	width:100%;
}
.mbsc-ios7.dwwol{
	padding:0;
	margin:0;
}
.mbsc-ios7 .dw-sel{
	color:#666;
}
.dw-i{
	text-align: center;
}
.dwwl.dwwl0{
	
}
.dwwl.dwwl1{
	
}
.dwwl.dwwl2{
	
}
.dwwc{
	-webkit-box-sizing: border-box;
}
