.dwwr{
	font-family: "微软雅黑";
}
.mbsc-ios7 .dwbc{
	border:none;
	background-color: #f0f0f0;
}
.dwb.dwb1.dwb-e{
	color:#666;
	font-size: 0.36rem;
	font-weight: normal;
	height:0.9rem;
	line-height: 0.9rem;
	padding:0 0.4rem;
}
.dwb.dwb0.dwb-e{
	color:#12C38C;
	font-size: 0.36rem;
	font-weight: normal;
	height:0.9rem;
	line-height: 0.9rem;
	padding:0 0.4rem;
}
.mbsc-ios7 .dwb{
	display: block;
}
.dwc{
	80%;
}
.mbsc-ios7.dwwol{
	padding:0;
	margin:0;
}
.dw-i{
	text-align: center;
}
.mbsc-ios7 .dw-sel{
	color:#666;
}
