.course-ban{
	background: url(../images/bg/exp-class-bg.jpg) no-repeat center 0;
	padding-top:100px;
}
.course-ban dl{
	width:406px;
}
.course-ban dl dt{
	text-indent: 28px;
	background: url(../images/icon/vip-icon.png) no-repeat 0 center;
}
/*=====================*/
.exp-main-a .cont{
	text-align: center;
}
.exp-main-a .cont ul{
	margin-bottom:38px;
}
.exp-main-a .cont li{
	float:left;
	width:25%;
}
.exp-main-a .cont li p{
	width:60px;
	height:53px;
	margin:0 auto;
	background-image: url(../images/icon/exp-4i.png);
	background-repeat: no-repeat;
	margin-bottom:34px;
}
.exp-main-a .cont li.t-li-1 p{
	background-position: 0 0;
}
.exp-main-a .cont li.t-li-2 p{
	background-position: -300px 0;
}
.exp-main-a .cont li.t-li-3 p{
	background-position: -600px 0;
}
.exp-main-a .cont li.t-li-4 p{
	background-position: -900px 0;
}
.exp-main-a .cont li h1{
	font-size: 24px;
	margin-bottom:16px;
}
.exp-main-a .cont li h2{
	font-size: 14px;
}
.exp-main-a .cont h3{
	font-size: 14px;
	margin-bottom:14px;
}
.exp-main-a .cont h4{
	font-size: 16px;
	color:#ff6700;
	margin-bottom:16px;
}
.exp-main-a .cont h4 i{
	font-size: 32px;
	font-family: arial;
	font-weight: bold;
}
.exp-main-a .cont .main-btn-o{
	width:256px;
	height:56px;
	line-height: 56px;
	margin: 0 auto;
	font-size: 16px;
}
/*=======================*/
.main-bar-nav{
	margin-bottom:40px;
}
.exp-box-left{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left:22px;
	width:200px;
}
.exp-box-right{
	width:1000px;
}
.exp-box-left .month-box{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	width:110px;
	border:1px solid #ccc;
	margin-bottom:40px;
	padding:0 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}
.exp-box-left .month-box.act{
	border-color: #66BB6A;
}
.exp-box-left .month-box h3{
	font-size: 10px;
	font-family: arial;
	color:#999;
	line-height: 30px;
	border-bottom:1px solid #ccc;
	margin-bottom:4px;
}
.exp-box-left .month-box h4{
	font-size: 32px;
	margin-bottom:10px;
}
.exp-box-left .month-box p{
	width:1px;
	height:40px;
	background-color: #ccc;
	left:0;
	right:0;
	margin:0 auto;
	top:-41px;
}
.exp-box-right .exp-r-box{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:100%;
	height:206px;
	padding:15px 15px;
	background-color: #f8f8f8;
	margin-bottom:30px;
}
.exp-box-right .exp-r-box .box-l{
	width:280px;
	height:176px;
}
.exp-box-right .exp-r-box .box-l img{
	width:100%;
	height:100%;
}
.exp-box-right .exp-r-box .box-c{
	width:322px;
	height:100%;
	margin-left: 22px;
}
.exp-box-right .exp-r-box .box-c h3{
	font-size: 20px;
	margin-bottom:24px;
}
.exp-box-right .exp-r-box .box-c h4,.exp-box-right .exp-r-box .box-c h5{
	font-size: 14px;
	color:#999;
}
.exp-box-right .exp-r-box .box-c h4{
	margin-bottom:4px;
}
.exp-box-right .exp-r-box .box-c h5{
	height:80px;
	overflow: hidden;
	line-height: 18px;
}
.exp-box-right .exp-r-box .box-r{
	width:320px;
	height:100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:20px 20px;
	background-color: #fff;
}
.exp-box-right .exp-r-box .box-r h3,.exp-box-right .exp-r-box .box-r h4{
	font-size: 16px;
	text-indent: 24px;
	margin-bottom:8px;
	line-height: 22px;
}
.exp-box-right .exp-r-box .box-r h3{
	background: url(../images/icon/zb-time.png) no-repeat 0 center;
}
.exp-box-right .exp-r-box .box-r h4{
	background: url(../images/icon/zb-gold.png) no-repeat 0 center;
}
.exp-box-right .exp-r-box .box-r h5{
	color:#888;
	font-size: 14px;
	margin-bottom:18px;
}
.exp-box-right .exp-r-box .box-r .t-p{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:100%;
	height: 40px;
	line-height: 40px;
	border:1px solid #66bb6a;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	text-align: center;
	color:#18AA1F;
	text-indent: 22px;
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
}
.exp-box-right .exp-r-box .box-r .t-p.living-p{
	background:#66BB6A url(../images/icon/index-liveing.gif) no-repeat 102px center;
	color:#fff;
}
.exp-box-right .exp-r-box .box-r .t-p.yuyue-p{
	background:#ffffff url(../images/icon/yuyue-icon.png) no-repeat 93px 13px;
}
.exp-box-right .exp-r-box .box-r .t-p.yuyue-p:hover{
	background:#66BB6A url(../images/icon/yuyue-icon.png) no-repeat 93px -45px;
	color:#fff;
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
}
.main-course-box .main-btn{
	width:176px;
	height:42px;
	line-height: 42px;
	cursor: pointer;
}
/*=====================*/
.exp-main-c .main-title h1{
	margin-bottom:36px;
}
.c-box .c-box-bot .c-box-h2 .right.hf-btn{
	width:100px;
	height:26px;
	line-height: 26px;
	border:1px solid #ccc;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	text-indent: 30px;
	background: url(../images/icon/zk-hf.png) no-repeat 11px 5px;
	color:#333;
	margin-top:-4px;
}
.c-box .c-box-bot .c-box-h2 .right.hf-btn:hover{
	background-color: #66BB6A;
	background-position: 11px -71px;
	border-color: #66BB6A;
	color:#fff;
}
