/*==BAN=============*/
.include-course-ban{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:751px;
	background: url(../images/bg/include-course-bg.jpg) no-repeat center 0;
	padding-top:62px;
}
.include-course-ban .t-h1{
	font-size: 42px;
	color:#fff;
	text-align: center;
	margin-bottom:30px;
}
.include-course-ban .t-h2 .left{
	background-color: #fff;
	width:350px;
	height:530px;
}
.include-course-ban .t-h2 li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:100%;
	height:106px;
	border-bottom:1px solid #eee;
	padding: 18px 18px;
}
.include-course-ban .t-h2 li h1{
	font-size: 14px;
	margin-bottom:6px;
}
.include-course-ban .t-h2 li h2{
	width:232px;
	font-size: 16px;
	margin-bottom:4px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.include-course-ban .t-h2 li h3{
	font-size: 14px;
	color:#888;
}
.include-course-ban .t-h2 li h4{
	font-size: 14px;
	height:28px;
	line-height: 28px;
	width:72px;
	border:1px solid #ccc;
	text-align: center;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	top:0;
	bottom:0;
	margin:auto 0;
	right:18px;
}
.include-course-ban .t-h2 li.kai-1 h4{
	border-color:#66BB6A;
	color: #18AA1F;
}
.include-course-ban .t-h2 li.kai-2{
	background-color: #f4faf7;
}
.include-course-ban .t-h2 li.kai-2 h4{
	text-indent: 22px;
	background-image: url(../images/icon/index-liveing.gif);
	background-repeat: no-repeat;
	background-position: 7px 6px;
	background-color: #66BB6A;
	border-color:#66BB6A;
	color:#ffffff;
}
.include-course-ban .t-h2 li.kai-3 h4{
	text-indent: 18px;
	background-image: url(../images/icon/zk-hf.png);
	background-repeat: no-repeat;
	background-position: 11px 6px;
}
.include-course-ban .t-h2 li.kai-3 h4:hover{
	background-color: #66BB6A;
	color:#fff;
	background-position: 11px -70px;
	border-color:#66BB6A;
}
.include-course-ban .t-h2 .right{
	width:835px;
	height:530px;
}
.include-course-ban .t-h2 .right .video-post{
	width:100%;
	height:100%;
	background: url(../images/bg/video-bg.jpg) no-repeat center center;
}
.include-course-ban .t-h2 .right .video-play-btn{
	width:100%;
	height:100%;
	background: url(../images/icon/play-btn.png) no-repeat center center;
	background-color: rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
	cursor: pointer;
}
:root .include-course-ban .t-h2 .right .video-play-btn{
	filter: none;
}
/*===========================*/
.include-course-cont .main-title h1{
	margin-bottom:32px;
}
.include-course-cont table{
	width:100%;
	border-collapse: collapse;
	text-align: center;
}
.include-course-cont table td,.include-course-cont table th{
	border:1px solid #eee;
	width:33.3%;
}
.include-course-cont table th{
	background-color: #f4f6f7;
	height:68px;
	line-height: 68px;
	font-size: 18px;
}
.include-course-cont table td{
	height:50px;
	line-height: 50px;
	font-size: 14px;
}
.include-course-cont table td.prise{
	color:#ff6700;
	font-size: 18px;
}
.include-course-cont table tr.t-btn{
	height:68px;
	line-height: 68px;
}
.include-course-cont table td .main-btn,.include-course-cont table td .main-btn-o{
	width:156px;
	height:38px;
	line-height: 38px;
	font-size: 14px;
	margin:0 auto;
}
