:root .slide-banner .index-banner-nav{
	filter: none;
}
/*首页banner*/
.slide-banner .index-banner-nav{
	position: absolute;
	top:0;
	left:0;
	width:300px;
	height:100%;
	background-color: rgba(255,255,255,0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff,endColorstr=#b2ffffff);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:30px 30px 0;
	color:#888;
}
.index-banner-nav h1{
	font-size: 18px;
	margin-bottom:24px;
	font-weight: bold;
}
.index-banner-nav .cal{
	margin-bottom:26px;
}
.index-banner-nav .cal h2{
	font-size: 16px;
	margin-bottom:10px;
	font-weight: bold;
}
.index-banner-nav .cal ul a{
	color:#888;
}
.index-banner-nav .cal ul li{
	float: left;
	font-size: 14px;
	margin-right:18px;
	margin-bottom:6px;
}
.index-banner-nav .cal ul li:hover{
	color:#18AA1F;
}
/*banner下面推荐===========================*/
.main-a{
	padding-top:18px;
}
.main-a ul li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top:20px;
	padding-left:153px;
	float: left;
	width:289px;
	height:120px;
	background-image: url(../images/temp/index-banner-small.jpg);
	background-repeat: no-repeat;
	margin-right:13px;
	color:#fff;
	transition: all 0.3s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
}
.main-a ul li:hover{
	box-shadow: 3px 3px 14px rgba(0,0,0,0.25);
	-webkit-box-shadow: 3px 3px 14px rgba(0,0,0,0.25);
	transform: translateY(-2px);
	transition: all 0.3s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
}
.main-a ul li.no-mar{
	margin-right: 0;
	color:#333;
}
.main-a ul li.t-li-1{
	background-position: 1px 0;
}
.main-a ul li.t-li-2{
	background-position: -303px 0;
}
.main-a ul li.t-li-3{
	background-position: -607px 0;
}
.main-a ul li.t-li-4{
	background-position: -911px 0;
}
.main-a ul li h1{
	font-size: 18px;
	font-weight: bold;
	margin-bottom:8px;
}
.main-a ul li h2{
	font-size: 12px;
	line-height: 20px;
}
/*课程==============*/
.main-bar-nav{
	margin-top:18px;
}
.main-b .main-title h1{
	margin-bottom:38px;
}
/*服务=======================*/
.main-c{
	height:408px;
	background: url(../images/bg/index-fuwu-bg.jpg) no-repeat center 0;
}
.main-c ul{
	text-align: center;
}
.main-c ul li{
	float: left;
	width: 200px;
}
.main-c ul li dl{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:128px;
	height:128px;
	margin:0 auto;
	font-size: 32px;
	color:#fff;
	line-height: 38px;
	padding-top:24px;
	background-image: url(../images/temp/index-fuwu-6r.png);
	background-repeat: no-repeat;
	margin-bottom:18px;
}
.main-c ul li dl.t-dl-1{
	background-position: 0 0;
}
.main-c ul li dl.t-dl-2{
	background-position: -213px 0;
}
.main-c ul li dl.t-dl-3{
	background-position: -427px 0;
}
.main-c ul li dl.t-dl-4{
	background-position: -642px 0;
}
.main-c ul li dl.t-dl-5{
	background-position: -856px 0;
}
.main-c ul li dl.t-dl-6{
	background-position: -1070px 0;
}
.main-c ul li p{
	font-size: 14px;
	line-height: 20px;
	color:#888;
}
/*恒企教育================*/
.main-d ul{
	text-align: center;
}
.main-d ul li{
	float:left;
	width:400px;
	margin-bottom:46px;
}
.main-d ul li dl{
	width:161px;
	height:139px;
	background: url(../images/temp/index-num-bg.png) no-repeat center 0;
	font-size: 42px;
	line-height: 164px;
	color:#18AA1F;
	margin:0 auto;
	margin-bottom:14px;
}
.main-d ul li h1{
	font-size: 18px;
	color:#666;
	margin-bottom:4px;
}
.main-d ul li h2{
	font-size: 13px;
	color:#888;
}
/*媒体================*/
.main-e{
	background-color: #f8f8f8;
}
.main-e ul{
	margin-top:18px;
}
.main-e ul li{
	float: left;
	width:260px;
	margin-right:53px;
	background-color: #fff;
	margin-top:40px;;
}
.main-e ul li.no-mar{
	margin-right:0;
}
.main-e ul li dl{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top:102px;
	font-size: 14px;
	text-align: center;
	height:134px;
	background-image: url(../images/temp/index-media-bg.jpg);
	background-repeat: no-repeat;
	color:#fff;
}
.main-e ul li.t-li-1 dl{
	background-position: 0 0;
}
.main-e ul li.t-li-2 dl{
	background-position: -313px 0;
}
.main-e ul li.t-li-3 dl{
	background-position: -625px 0;
}
.main-e ul li.t-li-4 dl{
	background-position: -938px 0;
}
.main-e ul li.t-li-5 dl{
	background-position: 0 -260px;
}
.main-e ul li.t-li-6 dl{
	background-position: -313px -260px;
}
.main-e ul li.t-li-7 dl{
	background-position: -625px -260px;
}
.main-e ul li.t-li-8 dl{
	background-position: -938px -260px;
}
.main-e ul li p{
	height:86px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:20px;
	font-size: 12px;
	line-height: 20px;
}
/*十四年==============*/
.main-f .ssn-bar{
	text-align: center;
	font-size: 14px;
	background:url(../images/icon/index-ssn-bar.jpg) no-repeat center center;
	margin-bottom:20px;
}
.main-f ul{
	text-align: center;
}
.main-f ul li{
	float:left;
	width:400px;
	margin-bottom:30px;
}
.main-f ul li dl{
	height:90px;
}
.main-f ul li.t-li-1 dl{
	background:url(../images/temp/index-ssn-img-1.png) no-repeat center 0 ;
}
.main-f ul li.t-li-2 dl{
	background:url(../images/temp/index-ssn-img-2.png) no-repeat center 0 ;
}
.main-f ul li.t-li-3 dl{
	background:url(../images/temp/index-ssn-img-3.png) no-repeat center 0 ;
}
.main-f ul li.t-li-4 dl{
	background:url(../images/temp/index-ssn-img-4.png) no-repeat center 0 ;
}
.main-f ul li.t-li-5 dl{
	background:url(../images/temp/index-ssn-img-5.png) no-repeat center 0 ;
}
.main-f ul li.t-li-6 dl{
	background:url(../images/temp/index-ssn-img-6.png) no-repeat center 0 ;
}
.main-f ul li h1{
	font-size: 16px;
	color:#666;
}
.main-f ul li h2{
	font-size: 14px;
	color:#888;
}
