@font-face {font-family: 'webfont';
  src: url('//at.alicdn.com/t/jlvhzb03ylsg7gb9.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/jlvhzb03ylsg7gb9.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/jlvhzb03ylsg7gb9.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/jlvhzb03ylsg7gb9.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/jlvhzb03ylsg7gb9.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
}


body{	
	font-family:"微软雅黑";
	color:#333;
	cursor: default;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
    font-family:"webfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body,html,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:#333;
}
ul,li,dl,dt,dd{
	list-style: none;
}
i,em{
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
.clear{
	clear: both;
}
.clearfix:after{
	font-size: 0;
	content: " ";
	display: table;
	clear: both;
}
.left{
	float:left;
}
.right{
	float:right;
}
.none{
	display: none;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.marginC{
	margin-left:auto;
	margin-right:auto;
}
.opacityZero{
	opacity: 0;
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
	body{font-size: 75%;}
}
@media only screen and (min-width: 375px) and (max-width: 413px) {
	body{font-size: 84%;}
}
@media only screen and (min-width: 414px){
	body{font-size: 94%;}
}