html,body{
	height:100%;
	background-color: #f0f0f0;
}
/*===========三栏导航=============*/
.hd{
	height:2.3em;
	line-height: 2.3em;
	padding-top:0.8em;
	padding-bottom:0.8em;
	text-align: center;
	background-color: #fff;
	margin-bottom:0.5em;
}
.hd li{
	width:33%;
	float:left;
	font-size: 1.25em;
	border-right:1px solid #ccc;
}
.hd li.active{
	color:#12c38c;
}
.hd li.no-bor{
	border-right:none;
}
.hd li p{
	width:70%;
	margin:0 auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*==============左右切换===================*/
.box{
	height:0;
	overflow: auto;
}
.swiper-slide{
	overflow: auto;
}
/*==============阶段考试列表==================*/
.stage-li{
	position: relative;
	background-color: #fff;
	font-size: 1.25em;
	color:#666;
	height: 4.6em;
	line-height: 4.6em;
	text-indent: 1em;
	border-bottom:1px solid #ccc;
}
.stage-li.no-bor{
	border-bottom:none;
}
.stage-li span{
	position: absolute;
	width:1.3em;
	height:1.3em;
	background: url(../../images/icon/pencil.png) no-repeat 0 center;
	-webkit-background-size:cover;
	top:0;
	bottom:0;
	margin:auto 0;
	right:1.4em;
}
/*=======================展开=============================*/
.add-xia{
	background-color: #fff;
	border-bottom:1px solid #ccc;
}
.t-fen{
	-webkit-transform: translateY(-50px);
	display: none;
}
.zong,.fen{
	position: relative;
	float:right;
	width:86%;
	height:6.6em;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top:1.1em;
}
.zong h1{
	font-size: 1.25em;
	margin-bottom:0.1em;
}
.num{
	font-size: 1.1em;
	color:#7f7f7f;
}
.num i{
	color:#12C38C;
}
.bat{
	margin-bottom:0.3em;
}
.bat li{
	float:left;
	width:1.3em;
	height:0.75em;
	background: url(../../images/icon/title-bet.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	margin-right:0.125em;
}
.bat li.active{
	background: url(../../images/icon/title-bet-active.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
.fen{
	border-top:1px solid #ccc;
}
.fen h1{
	font-size: 1.1em;
	color:#999;
	margin-bottom:0.4em;
	background: url(../../images/icon/pencil.png) no-repeat 92% center;
	-webkit-background-size: contain;
}
.ss{
	position: absolute;
	width:0.125em;
	top:1.25em;
	left:-2.5em;
	z-index: 2;
}
.ss p{
	width:1.6em;
	height:1.6em;
	background:#fff url(../../images/icon/title-add.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
.ss.active p{
	background:#fff url(../../images/icon/title-dev.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
.ssr{
	position: absolute;
	width:1.6em;
	top:-4.6em;
	left:-2.5em;
}
.ssr p{
	width:0.8em;
	height:0.8em;
	background: url(../../images/icon/title-green-r.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	margin:0 auto;
}
.ssr h2{
	display: block;
	width:1px;
	height:4.1em;
	background-color: #12C38C;
	margin:0 auto;
}
/*===========题目============*/
.title-a{
	padding:1.6em 1.25em 1.25em;
}
.t-d dt{
	font-size: 1.25em;
	line-height: 1.8em;
	margin-bottom:1.4em;
}
.t-d dt span{
	font-size: 0.8em;
	color:#999;
}
.t-d dd{
	font-size: 1.25em;
}
.t-d dd p{
	height:1.8em;
	line-height: 1.8em;
	margin-bottom:1em;
}
.t-d dd p i{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	display: block;
	float:left;
	width:1.8em;
	height:1.8em;
	-webkit-border-radius: 50%;
	color:#12C38C;
	margin-right:0.9em;
	background: url(../../images/icon/title-white-r.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
.t-d dd p.active i{
	color:#fff;
	background: url(../../images/icon/title-green-r.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
.t-d dd p em{
	float:left;
}
.dddx > p,.ddddx > p{
	font-size: 1.25em;
	line-height: 1.6em;
	margin-bottom: 1em;
}
.ddddx > p{
	margin-bottom: 0;
}
.sure-btn{
	padding-top:1.6em;
	margin-bottom:1.6em;
}
.sure-btn p{
	width:48%;
	line-height:2.4em;
	-webkit-border-radius: 4px;
	background-color: #12C38C;
	font-size: 1.3em;
	margin:0 auto;
	color:#fff;
	text-align: center;
}
/*========分录================*/
.fenlu{
	padding-top:1.6em;
}
.fenlu-head{
	font-size: 1.25em;
	padding-bottom:1em;
}
.fenlu-body{
	padding:0 4% 0;
	/*border-bottom:1px solid #ccc;*/
	position: relative;
}
.fenlu-body .bor-b{
	position: absolute;
	width:100%;
	padding:0 1.25em;
	height:1px;
	background-color: #ccc;
	bottom:0;
	left:-1.25em;
}
/*=========*/
.fenlu-body .btn-ul{
	padding-bottom:1.6em;
}
.fenlu-body .btn-ul li{
	float:left;
	width:22%;
	font-size: 1em;
	text-align: center;
	padding:0.5em 0;
	background-color: #bfbfbf;
	color:#fff;
	margin-right:4%;
	-webkit-border-radius: 3px;
}
.fenlu-body .btn-ul li.no-mar{
	margin-right:0;
}
.fenlu-body .btn-ul li.active{
	background-color: #12C38C;
}
/*=========*/
.fenlu-body .box-ul{
	border:1px solid #ccc;
	margin-bottom:1.3em;
}
.fenlu-body .box-ul li{
	text-align: center;
	/*padding:0 1.5%;*/
}
.fenlu-body .box-ul li .this-div{
	float:left;
	width:33.3%;
}
/*==this-li-tit==*/
.fenlu-body .box-ul .this-li-tit{
	background-color: #eee;
	font-size: 1.25em;
	line-height: 2em;
	border-bottom:1px solid #ccc;
}
.fenlu-body .box-ul .this-li-tit .this-div:nth-child(2):first-letter,.fenlu-body .box-ul .this-li-tit .this-div:nth-child(3):first-letter{
	letter-spacing: 1.6em;
}
/*==this-li-sel==*/
.fenlu-body .box-ul .this-li-sel{
	background-color: #eee;
	font-size: 1.25em;
}
.fenlu-body .box-ul .this-li-sel .sel-p{
	width:76%;
	margin:0.3em auto;
	background-color: #fff;
	height:1.6em;
	line-height: 1.6em;
	border:1px solid #ccc;
	-webkit-border-radius: 3px;
	color:#888;
}
.fenlu-body .box-ul .this-li-sel .sel-p-1 span{
	float:left;
	width:50%;
	text-align: center;
	font-size: 0.9em;
}
.fenlu-body .box-ul .this-li-sel .sel-p-1 span.active{
	background-color: #12C38C;
	color:#fff;
}
.fenlu-body .box-ul .this-li-sel .sel-p-2 span{
	display: block;
	float:left;
	font-size: 0.8em;
	height:100%;
	text-indent: 8%;
}
.fenlu-body .box-ul .this-li-sel .sel-p-2 .sel-span-l{
	width:68%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.fenlu-body .box-ul .this-li-sel .sel-p-2 .sel-span-r{
	width:32%;
	background: url(../../images/icon/title-shi-puls.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
.fenlu-body .box-ul li.this-li-sel .sel-p-3{
	width:68%;
}
.fenlu-body .box-ul li.this-li-sel .sel-p-3 input{
	display: block;
	border:none;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	text-indent: 20%;
	color:#888;
}
/*==this-li-sel==*/
.fenlu-body .box-ul .this-li-add{
	background-color: #ddd;
	color:#888;
	font-size: 1.2em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	height:1.2em;
	line-height: 1.2em;
}
.fenlu-body .box-ul .this-li-add .this-div:nth-child(1){
	position: relative;
	text-align: left;
	text-indent: 14%;
}
.fenlu-body .box-ul .this-li-add .this-div span{
	position: absolute;
	width:0.8em;
	height:0.8em;
	background: url(../../images/icon/title-no-sel.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	top:0;
	bottom:0;
	margin:auto 0;
	left:17%;
}
.fenlu-body .box-ul .this-li-add.active .this-div span{
	background: url(../../images/icon/title-sel.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
/*=========================*/
.fenlu-body .save-ul{
	font-size: 1.25em;
	color:#666;
	/*margin-bottom:1.3em;*/
}
.fenlu-body .save-ul .save-box{
	line-height: 1.6em;
	margin-bottom:0.5em;
}
.fenlu-body .save-ul .save-box .left{
	width:30%;
	text-indent: 1em
}
.fenlu-body .save-ul .save-box .right{
	width:70%;
}
.fenlu-body .save-ul .save-box .right i{
	padding-right:20%;
}
.fenlu-body .save-ul .change-btn{
	width:40%;
	text-align: center;
	margin:0 auto;
	font-size: 0.9em;
	height:2.4em;
	line-height: 2.4em;
	color:#fff;
	background-color: #12C38C;
	border-radius: 3px;
	margin-top:1.8em;
	margin-bottom:1.6em;
}
.ddddx .submit-btn{
	width:60%;
	text-align: center;
	margin:0 auto;
	font-size: 1.25em;
	height:3em;
	line-height: 3em;
	color:#fff;
	background-color: #12C38C;
	border-radius: 3px;
	margin-top:1.8em;
	margin-bottom:1.8em;
}
/*==================================*/
.right-ans{
	font-size: 1.25em;
	color:#12C38C;
	margin-bottom:0.6em;
}
.right-ans em{
	color:#f16d60;
}
.resolu{
	position: relative;
}
.resolu .res{
	font-size: 1em;
	position: absolute;
	left:0;
	top:0.1em;
	width:3em;
	height:1.8em;
	line-height: 1.8em;
	text-align: center;
	color:#fff;
	background-color: #12C38C;
	-webkit-border-radius: 4px;
}
.resolu p{
	padding-left:3em;
	font-size:1.25em;
	line-height: 1.7em;
}
/*==========================================*/


/*提示框*/
.tips-popup{
	position: fixed;
	text-align: center;
	width:36%;
	font-size: 1.25em;
	color:#fff;
	background: rgba(0,0,0,0.3);
	-webkit-box-sizing: border-box;
	padding:0.5em 2em;
	-webkit-border-radius: 3px;
	left:0;
	right:0;
	margin:0 auto;
	top:50%;
	-webkit-animation: fadeInUp 0.5s both;
}
.tips-popup.out{
	-webkit-animation: fadeOutDown 0.5s both;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 80%, 0);
    transform: translate3d(0, 80%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
    display: block;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 80%, 0);
    transform: translate3d(0, 80%, 0);
    display: none;
  }
}


@media only screen and (min-width: 320px) and (max-width: 374px) {
.zong h1{
	/*margin-bottom:0;*/
}
}
@media only screen and (min-width: 375px) and (max-width: 413px) {
	
}
@media only screen and (min-width: 414px){
	
}