body{
	background-color: #f0f0f0;
}
.f0f0f0{
	background-color: #f0f0f0;
}
.body-pad{
	padding-bottom:4em;
}
.black-bg{
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	z-index: 999;
	top:0;
	left:0;
	display: none;
}
/*=======================*/
.slide-nav{
	position: relative;
	-webkit-box-sizing: border-box;
	padding: 0 4%;
	text-align: center;
	border-bottom:1px solid #eee;
	background-color: #fff;
}
.slide-nav li{
	width:25%;
	float:left;
}
.slide-nav li em{
	font-size: 1.25em;
	display: inline-block;
	padding: 0.8em 0.4em;
}
.slide-nav li em.act{
	color:#12C38C;
}
.slide-nav .nav-bar{
	position: absolute;
	height:3px;
	background-color: #12C38C;
	bottom:-1px;
}
.slide-nav.slide-nav-2{
	padding: 0 18%;
}
.slide-nav.slide-nav-2 li{
	width:50%;
}
/*--------------------------*/
.float-nav-bottom{
	position: fixed;
	width:100%;
	bottom:0;
	left:0;
	line-height: 4em;
	z-index: 99;
}
.float-nav-bottom .left{
	width:30%;
	color:#12C38C;
	font-size: 1.25em;
	background: url(../../images/main/icon/erji.png) no-repeat 26% center;
	-webkit-background-size: 24% 44% ;
	text-indent: 14%;
	background-color: #f0f0f0;
}
.float-nav-bottom .left:active{
	background-color: #ccc;
}
.float-nav-bottom .right{
	width:70%;
	text-align: center;
	font-size: 1.25em;
	color:#fff;
	background-color: #12C38C;
}
.float-nav-bottom .right:active{
	background-color: #ccc;
}
/*==================================*/
.course-list-box .item{
	padding-left: 1.1em;
	padding-right:0;
	position: relative;
	background-color: #fff;
}
.course-list-box .item:active{
	background-color: #eee;
}
.course-list-box .item .item-in{
	padding: 1.6em 1.1em;
	padding-left:0;
	border-bottom:1px solid #eee;
}
.course-list-box .item .left{
	width:35%;
}
.course-list-box .item .left img{
	width:100%;
}
.course-list-box .item .right{
	width:62%;
}
.course-list-box .item .right p:nth-child(1){
	font-size: 1.25em;
	margin-bottom:0.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.course-list-box .item .right p:nth-child(2),.course-list-box .item .right p:nth-child(3){
	font-size: 1em;
	color:#666;
}
.course-list-box .item .right p:nth-child(2){
/*	margin-bottom:0.2em;*/
}
/*==================================*/
.bar-b{
	width:100%;
	height:0.4em;
	background-color: #F0F0F0;
}
.course-detail-head{
	background-color: #fff;
}
.course-detail-head .ban img{
	width:100%;
}
.course-detail-head .bot{
	padding: 4% 4%;
	border:1px solid #eee;
}
.course-detail-head .bot .tit{
	font-size: 1.5em;
	margin-bottom:0.6em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.course-detail-head .bot .intro .left{
	font-size: 1.35em;
	color:#fe763a;
}
.course-detail-head .bot .intro .right{
	font-size: 1.25em;
	color:#666;
}
/*=============================*/
.course-detail-body{
	/*background-color: #fff;*/
}
/*=====暂停弹框=============*/
/*暂停弹框*/
.pop-pause{
	position: fixed;
	left:0;
	right:0;
	margin:0 auto;
	top:50%;
	background-color: #fff;
	width:80%;
	-webkit-box-sizing: border-box;
	padding:5% 5% 0;
	text-align: center;
	-webkit-border-radius: 6px;
	z-index: 1000;
	display: none;
}
.pop-pause .t-h1{
	position: absolute;
	left:0;
	right:0;
	margin:0 auto;
	width:38%;
	top:-26%;
}
.pop-pause .t-h1 img{
	width:100%;
}
.pop-pause .t-h2{
	font-size: 1.5em;
	margin-bottom:0.6em;
}
.pop-pause .t-h3{
	font-size: 1.25em;
	color:#999;
	line-height: 1.6em;
	padding: 0 4%;
	margin-bottom:0.5em;
}
.pop-pause .t-h4{
	padding:0.5em 0;
	border-top:1px solid #ddd;
}
.pop-pause .t-h4 li{
	width:49.5%;
	font-size: 1.4em;
	height:1.9em;
	line-height: 1.9em;
}
.pop-pause .t-h4 li.no-do{
	color:#999;
}
.pop-pause .t-h4 li.no-do:active{
	background-color: #ccc;
}
.pop-pause .t-h4 li.yes-do{
	color:#12C38C;
}
.pop-pause .t-h4 li.yes-do:active{
	background-color: #ccc;
}
.pop-pause .t-h4 i{
	display: block;
	width:1px;
	background-color: #ddd;
	font-size: 1.4em;
	height:1.9em;
}
.pop-pause .t-h5{
	font-size: 1.25em;
	color:#999;
	margin-bottom: 1.4em;
}
.pop-pause .t-h5 i{
	color:#FE763A;
}
/*======================*/
.pop-apply{
	position: fixed;
	width:81%;
	left:0;
	right:0;
	margin:0 auto;
	top:50%;
	-webkit-border-radius: 5px;
	background-color: #fff;
	z-index: 1000;
	text-align: center;
	padding:2.8em 0;
	display: none;
}
.pop-apply .img-box{
	width:3.5em;
	height:3.5em;
	background: url(../../images/school/icon/apply-true.png) no-repeat center center;
	-webkit-background-size: cover;
	margin:0 auto;
	margin-bottom:1.25em;
}
.pop-apply .text{
	font-size: 1.5em;
	color:#666;
}
/*===============================*/
.sc-arrow{
	position: absolute;
	width:0.5em;
	height:1em;
	background: url(../../images/school/icon/school-arrow.png) no-repeat center center;
	-webkit-background-size: cover;
	right:0;
	top:0;
	bottom:0;
	margin:auto 0;
}
/*============================*/
.main-btn{
	position: absolute;
    width: 5.4em;
    height: 1.5em;
    line-height: 1.5em;
    border: 1px solid #666;
    color: #666;
    text-align: center;
    -webkit-border-radius: 1.5em;
}
.main-btn-g{
	background-color: #12C38C;
	color:#fff;
	border-color: #12C38C;
}
.main-btn-o{
	background-color: #FE763A;
	color:#fff;
	border-color: #FE763A;
}
.main-btn-o-b{
	color:#FE763A;
	border-color:#FE763A;
	background-color: #fff;
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
.course-list-box .item .right p:nth-child(1){
	margin-bottom:0.5em;
}
}
@media only screen and (min-width: 375px) and (max-width: 413px) {
	
}
@media only screen and (min-width: 414px){
	
}