html,body{
	height:100%;
	background-color: #f0f0f0;
}
/*========================*/
.hd{
	height:0.6rem;
	line-height: 0.6rem;
	padding-top:0.2rem;
	padding-bottom:0.1rem;
	text-align: center;
	background-color: #fff;
	margin-bottom:0.14rem;
}
.hd li{
	width:33%;
	float:left;
	font-size: 0.3rem;
	border-right:1px solid #ddd;
}
.hd li.active{
	color:#12c38c;
}
.hd li.no-bor{
	border-right:none;
}
.hd li p{
	width:70%;
	margin:0 auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*================================*/
.swiper-container{
	
}
.swiper-slide{
	
}
.swiper-slide li{
	background-color: #fff;
	font-size: 0.3rem;
	color:#666;
	height:1.2rem;
	line-height: 1.2rem;
	text-indent: 0.26rem;
	border-bottom:1px solid #ddd;
}
.swiper-slide li.no-bor{
	border-bottom:none;
}
.swiper-slide li span{
	float:right;
	width:0.33rem;
	height:0.31rem;
	background: url(../images/icon/pencil.png) no-repeat 0 center;
	-webkit-background-size:cover;
	margin-top:0.45rem;
	margin-right:0.56rem;
}
