html,body{
	height:100%;
}
/*===================*/
.choice-title{
	font-size: 1.25em;
	padding:1em 1em;
	background-color: #fafafa;
}
.choice-title dt{
	color:#666;
}
.choice-title dd{
	
}
.choice-title dd i{
	color:#12C38C;
}
.choice-title dd em{
	color:#333;
}
/*===============================*/
.footer{
	text-align: center;
	padding-top:0.5em;
	padding-bottom:0.2em;
	/*border-top:1px solid #ccc;*/
	width:100%;
	position: fixed;
	bottom:0;
	left:0;
}
.footer li{
	float: left;
	width:25%;
}
.footer li p{
	font-size: 1.5em;
	height: 1.3em;
	line-height: 1.4em;
	margin-bottom:0.2em;
	color:#12C38C;
}
.footer ul li:nth-child(1) p{
	background: url(../images/icon/title-star.png) no-repeat center center;
	-webkit-background-size: contain;
}
.footer ul li:nth-child(1) p.active{
	background: url(../images/icon/title-star-act.png) no-repeat center center;
	-webkit-background-size: contain;
}
.footer ul li:nth-child(2) p{
	background: url(../images/icon/title-book.png) no-repeat center center;
	-webkit-background-size: contain;
}
.footer ul li:nth-child(3) p{
	background: url(../images/icon/title-speak.png) no-repeat center center;
	-webkit-background-size: contain;
}
.footer li h1{
	font-size: 1.1em;
	color:#666;
}
.footer.dline:after{
	display: none;
}
/*======================================*/
.answer-sheet{
	position: fixed;
	height:100%;
	width:100%;
	z-index: 2;
	top:0;
	left:0;
	background-color: #f0f0f0;
	overflow: auto;
	display: none;
}
.sheet-body{
	padding:1em 0;
}
.sheet-body p{
	float:left;
	width:10%;
	text-align: center;
	font-size: 1.25em;
	background-color: #fff;
	-webkit-border-radius: 50%;
	margin:0 3.3% 3.3%;
}
.sheet-body p.active{
	background-color: #12C38C;
	color:#fff;
}
.sheet-body p.has{
	background-color: #aaa;
	color:#fff;
}
.answer-sheet.active{
	-webkit-animation: bounceInUp 0.4s;
}
