body{
	background-color:#f0f0f0;
}
/*================================*/
.cuoti-header{
	padding:1em 1em;
	background-color: #fff;
	margin-bottom:0.5em;
}
.header-top{
	margin-bottom:0.8em;
}
.header-top dt{
	font-size: 1.25em;
	height:1.8em;
	line-height: 1.8em;
}
.header-top h1{
	font-size: 1.1em;
	color:#999;
}
.sz-btn{
	-webkit-box-sizing: border-box;
	padding:0 1em;
	font-size: 1em;
	height: 2em;
	line-height: 2em;
	-webkit-border-radius: 2em;
	border:1px solid #ddd;
	color:#12C38C;
}
.header-top .sz-btn{
	margin-right:2%;
	margin-top:1%;
}
.header-bot{
	width:100%;
	-webkit-box-sizing: border-box;
	border:1px solid #ddd;
	padding:3% 2% 3% 3%;
	background-color: #fafafa;
}
.header-bot dt{
	font-size: 1.1em;
	height:1.8em;
	line-height: 1.8em;
	color:#666;
}
.header-bot h1{
	width:73%;
	font-size: 1.1em;
	color:#999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*==========================*/
.cuoti-body{
	background-color: #fff;
}
.cuoti-body .body-nav{
	border-bottom:1px solid #ddd;
}
.body-nav{
	padding:0.6em 0;
}
.body-nav li{
	width:49.5%;
	font-size: 1.25em;
	padding:0.3em 0;
	text-align: center;
}
.body-nav ul li:nth-child(1){
	border-right:1px solid #ddd;
}
.body-box dt,.body-box dd{
	text-align: center;
	font-size: 1.1em;
	width:50%;
	padding:1.25em 0;
}
.body-box dt p,.body-box dd p{
	width:78%;
	margin:0 auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.body-box dt{
	color:#999;
}
.body-box dd{
	color: #12C38C;
}
.body-box dl{
	border-bottom:1px solid #ddd;
}
