.do-record li{
	padding:1em 1.25em;
	position: relative;
	border-bottom:1px solid #ddd;
	background-color: #fff;
}
.do-record li p{
	position: absolute;
	background: url(../images/icon/title-arrow.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	width:0.66em;
	height:1.25em;
	right:1.25em;
	top:0;
	bottom:0;
	margin:auto 0;
}
.do-record .item{
	width:94%;
}
.do-record .item h1{
	font-size: 1.25em;
	margin-bottom:0.6em;
}
.do-record .item h2{
	font-size: 1em;
	color:#999;
}