.fen h1{
    background: none;
}
.zong, .fen{
	height:5.2em;
}
.ssr{
	top:-3.8em;
}
.ssr h2{
	height:3.5em;
}
/*============================*/
.arrow{
	width:0.6em;
	height:1.1em;
	position: absolute;
	top:0;
	bottom:0;
	margin:auto 0;
	right:1.3em;
	background: url(../images/icon/arrow.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
