.pass-body .head{
	padding: 0 1em;
	height:4em;
	background-color: #fff;
}
.pass-body .head li{
	float:left;
}
.pass-body .w1{
	width:46%;
	margin-right:3%;
}
.pass-body .w2{
	width:17%;
}
.pass-body .head .w1{
	line-height: 4em;
}
.pass-body .head .w1 h1{
	font-size: 1.5em;
	text-indent: 0.5em;
}
.pass-body .head .w2{
	text-align: center;
}
.pass-body .head .w2 h1{
	font-size: 1.1em;
	margin-top:0.4em;
	/*margin-top:0.7em;*/
}
.pass-body .head .w2.dif{
	line-height: 4em;
}
.pass-body .head .w2.dif h1{
	margin-top:0;
}
.pass-body .body{
	padding: 0 1em;
	height:5.1em;
	color:#666;
	overflow: hidden;
}
.pass-body .body dt,.pass-body .body dd{
	float: left;
}
.pass-body .body .w1{
	font-size: 1.1em;
	line-height: 1.6em;
}
.pass-body .body .w1 p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pass-body .body .w1 p:nth-of-type(1){
	padding-top:0.8em;
}
.pass-body .body .w2{
	font-size: 1.3em;
	line-height: 3.9em;
	text-align: center;
}
.pass-body .body:nth-of-type(even){
	background-color: #fff;
}
.pass-body .body:nth-of-type(odd){
	background-color: #fafafa;
}