body{
	background-color: #fff;
}
.subject{
	font-size: 1.25em;
	color:#999;
}
.stair-1{
	border-bottom:1px solid #ddd;	
}
.stair-1 > p{
	padding:1em 0 1em 1.5em;
	float:left;
	height:1.6em;
	line-height: 1.6em;
}
.subject ul{
	background-color: #fafafa;
}
.stair-2{
	padding:0 1.5em 0 3.16em;
}
.stair-3,.stair-4{
	padding-left: 1.5em;
}
.stair-2 p,.stair-3 p,.stair-4 p{
	padding: 0.65em 0;
	float:left;
}
.stair-1 span{
	float: right;
	height:1.6em;
	width:0.7em;
	margin:1em 1.5em 1em 0;
	background: url(../images/icon/arrow-shi.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	-webkit-transition: all 0.4s; 
}
.stair-1.active span{
	-webkit-transform: rotate(90deg);
	-webkit-transition: all 0.4s; 
}
.stair-2 p{
	position: relative;
}
.stair-2 > p i,.stair-3 > p i{
	position: absolute;
	width:0.56em;
	height:1em;
	top:0; bottom:0; margin:auto 0;
	/*top:1em;*/
	right:-1.2em;
	background: url(../images/icon/arrow-shi.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	-webkit-transition: all 0.4s; 
}
.stair-2.active > p i,.stair-3.active > p i{
	-webkit-transform: rotate(90deg);
	-webkit-transition: all 0.4s; 
}
.stair-4 p{
	position: relative;
	text-indent: 1.6em;
}
.stair-4 p em{
	position: absolute;
	width:0.6em;
	height:0.6em;
	-webkit-border-radius: 50%;
	background-color: #ccc;
	/*background: url(../images/icon/title-gray-dot.png) no-repeat center center;*/
	/*-webkit-background-size: 100% 100%;*/
	left:0.54em;
	top:0;
	bottom:0;
	margin:auto 0;
}
.subject ul{
	display: none;
}

/*章节===================================*/
.section{
	font-size: 1.25em;
	color:#999;
}
.section ul{
	background-color: #fafafa;
}
.section .stair em{
	float:left;
	height:1.4em;
	width:1.4em;
	background: url(../images/icon/title-no-choose.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	margin-right: 1em;
	/*margin-top: -0.1em;*/
}
.section .stair-1 >p em.active{
	background: url(../images/icon/title-choose.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
.section .stair-1 >p em{
	float:left;
	height:1.6em;
	width:1.6em;
	background: url(../images/icon/title-no-choose.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	margin-right: 1em;
	/*margin-top: -0.1em;*/
}
.section .stair em.active{
	background: url(../images/icon/title-choose.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
}
.section .stair-1 li{
	padding:0.8em 1.5em 0.8em 3em;
}
.section .stair-1 ul{
	padding:0.5em 0;
	display: none;
}
